* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(227, 242, 255);
    color: #333
}

.navbar {
    background-color: rgb(142, 155, 111);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar h1{
    color: rgb(252, 252, 252);
    align-items: start;
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: large;
}

.nav-links {
    display: flex;
    gap: 30px;
    text-decoration: none;
    align-items: end;
    justify-items: last baseline
}

.nav-links a:hover {
    text-decoration: none;
    color:rgb(194, 194, 194);
    font-weight: 100;
}

/* HERO */

.hero {
    min-height: 400px;

    display: flexbox;
    justify-content:first baseline;
    align-items: center;
    text-align: center;
    background-color:rgb(201, 233, 218);
    padding: 10px;
}

.hero-content {
    align-items: center;
    position: center;
    margin: 100px 50px;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color:rgb(15, 15, 15);
    position: center;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
}

.hero button {
    margin-top: 25px;
    padding: 12px 25px;

    border: none;
    border-radius: 5px;

    background-color: rgb(27, 27, 24);
    color: rgb(243, 243, 243);

    cursor: pointer;
}

/* ABOUT */

.about {
    padding: 70px 60px;

    /* GRID */
    display: flex;
    grid-template-columns: 1fr 1 fr;
    gap: 50px;
    background-color:rgb(194, 255, 226);

    align-items: center;
}

.about-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:rgb(194, 194, 194)
}

.about-content p {
    line-height: 1.7;
    margin-bottom: 15px;
}

/* STORIES */

.stories {
    padding: 70px 60px;
    text-align: center;
}

.stories h2 {
    font-size: 35pxs;
    color:rgb(0, 0, 0);
}

.section-description {
    margin-top: 10px;
    margin-bottom: 40px;
}

/*story grid */

.story-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: left;
}

/*story card */

.story-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 4px 10px rgb(0, 0, 0.10);
}

.story-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;

    object-fit: cover;
}

.story-card p {
    line-height: 1.5;

    margin: 0 20px;
}

.story-card button {
    margin: 20px;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    background-color: blanchedalmond;
    color: black;
    cursor: pointer;
}

.story-card button:hover {
    background-color: #ff9494;
}

